In [2]:
import pandas as pd

df = pd.read_excel('./DATA/student_depression_dataset.xlsx')

df = df.reset_index(drop=True)
df.index = df.index + 1

df.head()

KeyboardInterrupt:

In [8]:
# Cek ukuran dataset

print("Ukuran dataset (baris, kolom):", df.shape)

# Cek jumlah total elemen data
print("Jumlah total elemen data:", df.size)

Ukuran dataset (baris, kolom): (27901, 18)
Jumlah total data: 502218

In [11]:
# Cek tipe data sebuah variable

my_variable = "Hello"

print("Tipe data my_variable:", type(my_variable))

my_number = 123
print("Tipe data my_number:", type(my_number))

# Cek tipe data setiap kolom dalam DataFrame
print("Tipe data setiap kolom dalam DataFrame:")
print(df.dtypes)

Tipe data my_variable: <class 'str'>
Tipe data my_number: <class 'int'>
Tipe data setiap kolom dalam DataFrame:
id                                         int64
Gender                                    object
Age                                        int64
City                                      object
Profession                                object
Academic Pressure                          int64
Work Pressure                              int64
CGPA                                     float64
Study Satisfaction                         int64
Job Satisfaction                           int64
Sleep Duration                            object
Dietary Habits                            object
Degree                                    object
Have you ever had suicidal thoughts ?     object
Work/Study Hours                           int64
Financial Stress                          object
Family History of Mental Illness          object
Depression                                 int64
dtype: object

In [12]:
# Cek missing values

missing_values = df.isnull().sum()
print("Jumlah missing values per kolom:")
print(missing_values)

Jumlah missing values per kolom:
id                                       0
Gender                                   0
Age                                      0
City                                     0
Profession                               0
Academic Pressure                        0
Work Pressure                            0
CGPA                                     0
Study Satisfaction                       0
Job Satisfaction                         0
Sleep Duration                           0
Dietary Habits                           0
Degree                                   0
Have you ever had suicidal thoughts ?    0
Work/Study Hours                         0
Financial Stress                         0
Family History of Mental Illness         0
Depression                               0
dtype: int64

In [14]:
# Cek duplikasi data
duplocate_rows = df.duplicated().sum()

print("Jumlah baris duplikat:", duplocate_rows)

# Jika ada baris duplikat, tampilkan beberapa baris duplikat pertama

if duplocate_rows > 0:
    print("Beberapa baris duplikat pertama:")
    print(df[df.duplicated(keep=False)].head())

Jumlah baris duplikat: 0

# Data Bermasalah

In [3]:
import pandas as pd

df_bermasalah = pd.read_excel("./DATA/contoh_data_bermasalah.xlsx")

df_bermasalah = df_bermasalah.reset_index(drop=True)
df_bermasalah.index = df_bermasalah.index + 1

df_bermasalah.head()

    ID          Nama  Usia        Kota  Pendapatan       Status Tanggal Daftar
1  118  Pengguna_118    51  Yogyakarta     9819256        Aktif     2023-06-26
2   29   Pengguna_29    37     Jakarta     4991886        Aktif     2023-07-20
3  119  Pengguna_119    31       Medan    19094979        Aktif     2023-05-17
4   44   Pengguna_44    54    Makassar    15843052  Tidak Aktif     2023-05-10
5  124  Pengguna_124    26     Bandung    86377074      Pending     2023-05-05

In [4]:
# Cek ukuran dataset

print("Ukuran dataset (baris, kolom):", df_bermasalah.shape)

# Cek jumlah total elemen data
print("Jumlah total elemen data:", df_bermasalah.size)

Ukuran dataset (baris, kolom): (160, 7)
Jumlah total elemen data: 1120

In [5]:
# Cek missing values
missing_values = df_bermasalah.isnull().sum()
print("Jumlah missing values per kolom:")
print(missing_values)

Jumlah missing values per kolom:
ID                 0
Nama               0
Usia               0
Kota               0
Pendapatan         0
Status            16
Tanggal Daftar     0
dtype: int64

In [10]:
# Cek duplikasi data
duplicate_rows = df_bermasalah.duplicated().sum()

print("Jumlah baris duplikat:", duplicate_rows)

# Jika ada baris duplikat, tampilkan beberapa baris duplikat pertama

if duplicate_rows > 0:
    print("Beberapa baris duplikat:")
    # print data duplicate dengan sort by ID
    print(df_bermasalah[df_bermasalah.duplicated(keep=False)].sort_values(by='ID'))

Jumlah baris duplikat: 10
Beberapa baris duplikat:
      ID          Nama  Usia      Kota  Pendapatan       Status Tanggal Daftar
42     2    Pengguna_2    45   Bandung     9640118  Tidak Aktif     2023-02-10
129    2    Pengguna_2    45   Bandung     9640118  Tidak Aktif     2023-02-10
99    23   Pengguna_23    36   Jakarta     5437962      Pending     2023-06-29
125   23   Pengguna_23    36   Jakarta     5437962      Pending     2023-06-29
110   46   Pengguna_46    35  Semarang    13609354        Aktif     2023-08-30
154   46   Pengguna_46    35  Semarang    13609354        Aktif     2023-08-30
135   49   Pengguna_49    51  Semarang    18099831        Aktif     2023-11-25
9     49   Pengguna_49    51  Semarang    18099831        Aktif     2023-11-25
141   63   Pengguna_63    20  Surabaya    12742482        Aktif     2023-05-02
34    63   Pengguna_63    20  Surabaya    12742482        Aktif     2023-05-02
127   65   Pengguna_65    57   Jakarta    16360831        Aktif     2023-02-13
88    65   Pengguna_65    57   Jakarta    16360831        Aktif     2023-02-13
152   78   Pengguna_78    37   Jakarta     5968085        Aktif     2023-10-27
76    78   Pengguna_78    37   Jakarta     5968085        Aktif     2023-10-27
54    89   Pengguna_89    27   Bandung    17464535        Aktif     2023-03-29
156   89   Pengguna_89    27   Bandung    17464535        Aktif     2023-03-29
114  106  Pengguna_106    39  Surabaya    14324301          NaN     2023-01-07
142  106  Pengguna_106    39  Surabaya    14324301          NaN     2023-01-07
41   146  Pengguna_146    45  Semarang    13493455        Aktif     2023-01-09
95   146  Pengguna_146    45  Semarang    13493455        Aktif     2023-01-09

In [12]:
# Cleaning data bermasalah

# Menghapus baris duplikat
df_bermasalah_cleaned = df_bermasalah.drop_duplicates().reset_index(drop=True)
df_bermasalah_cleaned.index = df_bermasalah_cleaned.index + 1

# Mengisi missing values
df_bermasalah_cleaned = df_bermasalah_cleaned.ffill()

# Menampilkan dataset yang sudah dibersihkan
df_bermasalah_cleaned.head()

# Cek ulang missing values dan duplikasi
print("Jumlah missing values per kolom setelah pembersihan:")
print(df_bermasalah_cleaned.isnull().sum())

duplocate_rows_after = df_bermasalah_cleaned.duplicated().sum()
print("Jumlah baris duplikat setelah pembersihan:", duplocate_rows_after)

# Cek ukuran dataset setelah pembersihan
print("Ukuran dataset setelah pembersihan (baris, kolom):", df_bermasalah_cleaned.shape)

# Urutkan berdasarkan kolom id
df_bermasalah_cleaned = df_bermasalah_cleaned.sort_values(by='ID').reset_index(drop=True)
df_bermasalah_cleaned.index = df_bermasalah_cleaned.index + 1

df_bermasalah_cleaned

Status yang tidak sesuai:
      ID          Nama  Usia        Kota  Pendapatan Status Tanggal Daftar
13    57   Pengguna_57    29  Yogyakarta    11336918    NaN     2023-08-22
16   134  Pengguna_134    18   Palembang     4273781    NaN     2023-07-04
22   127  Pengguna_127    25    Semarang    14984060    NaN     2023-12-12
31    61   Pengguna_61    56    Semarang     8356753    NaN     2023-11-25
50    84   Pengguna_84    55    Makassar    15726492    NaN     2023-10-13
82    88   Pengguna_88    51     Bandung    11642087    NaN     2023-01-09
96   137  Pengguna_137    22    Surabaya    12408194    NaN     2023-02-07
103  144  Pengguna_144    18  Yogyakarta     3608061    NaN     2023-01-09
105   93   Pengguna_93    37     bandung     8292937    NaN     2023-02-26
113  106  Pengguna_106    39    Surabaya    14324301    NaN     2023-01-07
119    7    Pengguna_7    55    Surabaya     5257395    NaN     2023-09-06
127   36   Pengguna_36    37    Surabaya     3638609    NaN     2023-04-02
136  141  Pengguna_141    58    Makassar    10345712    NaN     2023-07-16
146    8    Pengguna_8    37    Semarang    19033280    NaN     2023-03-30
149    1    Pengguna_1    29    Jakarta     15682130    NaN     2023-05-07
Jumlah missing values per kolom setelah pembersihan:
ID                0
Nama              0
Usia              0
Kota              0
Pendapatan        0
Status            0
Tanggal Daftar    0
dtype: int64
Jumlah baris duplikat setelah pembersihan: 0
Ukuran dataset setelah pembersihan (baris, kolom): (150, 7)

,ID,Nama,Usia,Kota,Pendapatan,Status,Tanggal Daftar
1,1,Pengguna_1,29,Jakarta,15682130,Tidak Aktif,2023-05-07
2,2,Pengguna_2,45,Bandung,9640118,Tidak Aktif,2023-02-10
3,3,Pengguna_3,49,Surabaya,7341151,Tidak Aktif,2023-09-11
4,4,Pengguna_4,49,Makassar,19426187,Aktif,2023-02-17
5,5,Pengguna_5,49,Jakarta,13180447,Tidak Aktif,2023-01-31
...,...,...,...,...,...,...,...
146,146,Pengguna_146,45,Semarang,13493455,Aktif,2023-01-09
147,147,Pengguna_147,27,Jakarta,7691923,Aktif,2023-11-30
148,148,Pengguna_148,48,Bandung,19604676,Pending,2023-10-02
149,149,Pengguna_149,34,Palembang,7734185,Aktif,2023-04-18
150,150,Pengguna_150,26,Medan,3148508,Pending,2023-08-29